	<ion-content class="background"  padding fullscreen>
		<ion-grid>
			<ion-row>
				<ion-col size="12" class="ion-text-center">
					<img   src="../../../assets/image/Logo-Swapify-3.png" alt="title" class="title" />
					<h4 class="custom" style="     text-align: center; margin-top: 10%;
					 font-size: 30px;
					 line-height: 30px;
					 letter-spacing: -2px;
					 font-family: Graphik, Helvetica, Arial;
					 font-weight: 600;
					 font-feature-settings: 'liga' 1;">La meilleure offre de reprise pour votre ordinateur portable</h4>
				</ion-col>
				
					
				  
			</ion-row>
		
		
		<ion-row class="buttons">
			<ion-col size="12">
				<ion-button routerLink="/login" color="dark"  expand="block" class="playButton" style="
				font-family: Verdana, sans-serif	; font-weight: bold;
				">M<span style="text-transform: lowercase;">e connecter</span></ion-button>
				
				</ion-col>
				<ion-col size="12">
					<ion-button routerLink="/register" color="dark"  expand="block" class="playButton" style="
					font-family: Verdana, sans-serif	; font-weight: bold;
					">c<span style="text-transform: lowercase;">réer un compte</span></ion-button>
					
					</ion-col>
				
			</ion-row></ion-grid>
	</ion-content>


